code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Jersey 25";
  src: local("Jersey25-Regular"),
    url("./fonts/Jersey25-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Press Start 2P";
  src: local("PressStart2P-Regular"),
    url("./fonts/PressStart2P-Regular.ttf") format("truetype");
}
h1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: "Jersey 25", sans-serif;
    color: #c1121f;
    font-size: 80px;
}
  
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdf0d5;
  font-family: "Press Start 2P", sans-serif;
  color: #53484e;
}

