code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
    font-family: "Jersey 25";
    src: local("Jersey25-Regular"),
      url("./fonts/Jersey25-Regular.ttf") format("truetype");
}

h1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: "Jersey 25", sans-serif;
    color: #c1121f;
    font-size: 80px;
}
  
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdf0d5;
  font-family: "Jersey 25", sans-serif;
  color: #53484e;
}

.button {
  background-color: #dec9b6;
  border: 2px solid #53484e;
  width: 110px;
  height: 40px;
  font-family: "Jersey 25", sans-serif;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
  font-size: 20px;
  border-radius: 5px;
}
.button:hover {
  background-color: #bfa08c;
  border-color: #3d3236;
}

.speedControl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
}
p {
  margin: 0px;
}

.win {
  background-color: #70a6ff;
}

.filled {
  background-color: darkgray;
}
