body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
    font-family: "Jersey 25";
    src: local("Jersey25-Regular"),
      url("./fonts/Jersey25-Regular.ttf") format("truetype");
  }

h1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    font-family: "Jersey 25", sans-serif;
    color: #c1121f;
    font-size: 80px;
  }
  
body {
  background-color: #fdf0d5;
  font-family: "Jersey 25", sans-serif;
}

.button {
  background-color: lightgray;
  border: 2px solid #53484e;
  width: 110px;
  height: 40px;
  font-family: "Jersey 25", sans-serif;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
  font-size: 20px;
  border-radius: 5px;
}

.button:hover {
  background-color: #bfa08c;
  border-color: #3d3236;
}

.leader {
  background-color: #dec9b6;
}
.big {
  font-size: 30px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

#myboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#myboard-wrapper {
  position: relative;
  width: 250px;
  height: 500px;
}

#info {
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 50px;
  width: 150px;
  padding-left: 3px;
  letter-spacing: 2px;
  line-height: 25px;
  color: #53484e;
  display: flex;
  gap: 25px;
  flex-direction: column;
  background-color: rgba(250, 246, 240, 0.5);
  font-size: 20px;
}

#player-info {
  display: flex;
  flex-direction: column;
}
#under-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
#myboard {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(10, 25px);
  grid-template-rows: repeat(20, 25px);
  outline: 4px solid #53484e;
  background-color: #faf6f0;
  box-shadow: 7px 7px 0px #b3a69f;
}

#myboard > li {
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  border: 1px solid #53484e;
}

#containerWrapper {
  margin-right: 100px;
}

.otherboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.otherboard {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(10, 10px);
  grid-template-rows: repeat(20, 10px);
  border: 2px solid #53484e;
  box-shadow: 2px 2px 0px #b3a69f;
  background-color: #dec9b6;
}

.otherboard > li {
  width: 10px;
  height: 10px;
}

.died {
  background-color: #dc7872;
}

.left {
  background-color: #80615f;
}

.win {
  background-color: #70a6ff;
}

.filled {
  background-color: #b3a69f;
}

.left {
  background-color: darkblue;
}

p {
  margin: 0px;
}


.O_BLOCK {
  background-color: #fdffb6;
}

.T_BLOCK {
  background-color: #bdb2ff;
}

.J_BLOCK {
  background-color: #a0c4ff;
}

.L_BLOCK {
  background-color: #ffd7a6;
}

.S_BLOCK {
  background-color: #bdf2b1;
}

.Z_BLOCK {
  background-color: #ffaead;
}

.I_BLOCK {
  background-color: #c5faff;
}

.O_BLOCK_FIX {
  background-color: #c96d6d;
}

.T_BLOCK_FIX {
  background-color: #9e8eff;
}

.J_BLOCK_FIX {
  background-color: #70a6ff;
}

.L_BLOCK_FIX {
  background-color: #ffc783;
}

.S_BLOCK_FIX {
  background-color: #a0f08e;
}

.Z_BLOCK_FIX {
  background-color: #ff8180;
}

.I_BLOCK_FIX {
  background-color: #8df5ff;
}

.PENALTY {
  background-color: darkred;
}
