#nextboard {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 25px);
    grid-template-rows: repeat(4, 25px);
    outline: 4px solid #53484e;
    background-color: #faf6f0;
    box-shadow: 15px 12px 0px #b3a69f;
    width: 100px;
    height: 100px;
}
  
#nextboard > li {
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: 1px solid #53484e;
}
  