.scoreboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 2px solid #53484e;
  box-shadow: 8px 6px 0px #b3a69f;
  background-color: whitesmoke;
  width: 200px;
  font-size: 12px;
}
.scoreboard-container > h3 {
  margin: 0px;
}
.scoreboard-table {
  width: 100%;
  border-collapse: collapse;
}

.scoreboard-table th,
.scoreboard-table td {
  font-size: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.scoreboard-table th {
  background-color: #dec9b6;
  color: white;
  width: 10px;
}

.scoreboard-table .even {
  background-color: #fff;
}

.scoreboard-table .odd {
  background-color: #fff;
}
