h1 {
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Jersey 25', sans-serif;
  color: #C1121F;
  font-size: 80px;
}

body {
  background-color: #FDF0D5;
  font-family: 'Jersey 25', sans-serif;
}

.button {
  background-color: lightgray;
  border: 2px solid #53484e;
  width: 90px;
  height: 30px;
  font-family: 'Jersey 25', sans-serif;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  font-size: 15px;
}

.button:hover {
  background-color: #bfa08c;
  border-color: #3d3236;
}

.leader {
  background-color: #dec9b6;

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

#myboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#myboard-wrapper {
  position: relative;
}

#info {
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 50px;
  width: 150px;
  padding-left: 3px;
  letter-spacing: 2px;
  line-height: 25px;
  color: #53484e;
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 246, 240, 0.5);
}

#player-info {
  display: flex;
  flex-direction: column;
}

#myboard {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(10, 25px);
  grid-template-rows: repeat(20, 25px);
  outline: 4px solid #53484e;
  background-color: #faf6f0;
  box-shadow: 7px 7px 0px #b3a69f;
}

#myboard>li {
  width: 25px;
  height: 25px;
  border: 1px solid #53484e;
}

#containerWrapper {
  margin-right: 100px;
}

.otherboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.otherboard {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(10, 10px);
  grid-template-rows: repeat(20, 10px);
  border: 2px solid #53484e;
  box-shadow: 2px 2px 0px #b3a69f;
  background-color: #dec9b6;
}

.otherboard>li {
  width: 10px;
  height: 10px;
}

.died {
  background-color: #dc7872;
}

.left {
  background-color: #80615f;
}

.win {
  background-color: #70A6FF;
}

.filled {
  background-color: #b3a69f;
}

.left {
  background-color: darkblue;
}

text {
  font-size: 20px;
}

p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  text-align: center;
  margin: 10px 0;
}

.O_BLOCK {
  background-color: #FDFFB6;
}

.T_BLOCK {
  background-color: #BDB2FF;
}

.J_BLOCK {
  background-color: #A0C4FF;
}

.L_BLOCK {
  background-color: #FFD7A6;
}

.S_BLOCK {
  background-color: #BDF2B1;
}

.Z_BLOCK {
  background-color: #FFAEAD;
}

.I_BLOCK {
  background-color: #C5FAFF;
}

.O_BLOCK_FIX {
  background-color: #c96d6d;
}

.T_BLOCK_FIX {
  background-color: #9E8EFF;
}

.J_BLOCK_FIX {
  background-color: #70A6FF;
}

.L_BLOCK_FIX {
  background-color: #FFC783;
}

.S_BLOCK_FIX {
  background-color: #A0F08E;
}

.Z_BLOCK_FIX {
  background-color: #FF8180;
}

.I_BLOCK_FIX {
  background-color: #8DF5FF;
}

.PENALTY {
  background-color: darkred;
}